<div id="pomodoro-indicator-base">
    <div class="vertical-flex">
        <div class="horizontal-flex">
            <mat-icon id="pomodoro-indicator">timer</mat-icon>
            <mat-icon id="indicator-arrow">keyboard_arrow_left</mat-icon>
        </div>
        <div class="horizontal-flex">
            <mat-icon id="short-break-indicator">timer</mat-icon>
            <mat-icon id="indicator-arrow">keyboard_arrow_left</mat-icon>
        </div>

        <div class="horizontal-flex">
            <mat-icon id="long-break-indicator">timer</mat-icon>
            <mat-icon id="indicator-arrow">keyboard_arrow_left</mat-icon>
        </div>
    </div>
</div>
