html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    background-image: linear-gradient(#223, #112);
    width: 100%;
    display: flex;
}
